<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuazh4V7kYoFTMJ5_sGkF22tI0eHrcs9c</string>
	<key>GCM_SENDER_ID</key>
	<string>758821232123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildgym.app</string>
	<key>PROJECT_ID</key>
	<string>buildgymapp</string>
	<key>STORAGE_BUCKET</key>
	<string>buildgymapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758821232123:ios:7624c5b6ae0aabffb03f5e</string>
</dict>
</plist>